:root {
  --color-background1: #849d8f;
  --color-background2: #8996a6;
  --color-background3: #9d8b84;

  --color-backround-default: #a3a2a2;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto"), url("/fonts/web/roboto.woff2") format("woff2"),
    url("/fonts/web/roboto.woff") format("woff");
}

body {
  min-width: 960px;
  max-width: 1200px;
  /* width: 1200px; */
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;

  background-color: var(--color-background1);
  background-image: url(IMG/IceCreams_1.png);
  background-position: top center;
  background-repeat: no-repeat;
}

input {
  background: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  line-height: 24px;
  font-size: 16px;
}
input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}
input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}
input:active {
  border: 1px solid rgba(178, 178, 178, 0.52);
}

button {
  padding: 0;
  margin: 0;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: none;
  background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 50vh;
}

button:hover,
button:focus {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(0deg, #e74a35 -3.14%, #f26843 103.11%);
  box-shadow: 0px 2px 2px #ac1000;
}
button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(0deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* Шапка */
.main-header {
  display: flex;
  flex-direction: column;

  padding-right: 28px;
  padding-bottom: 214px;
  margin: 0;
  color: #ffffff;
}

.main-header-logo {
  padding: 9px 9px 0 27px;
  margin: 0;
}

.main-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  height: 74px;
  align-items: center;
}

.main-navigation .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding-top: 3px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  align-items: center;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation button {
  padding: 9px 14px 9px 14px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  font-style: normal;
  align-items: center;
  background: none;
  box-shadow: none;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation button:hover,
.site-navigation button:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  background: #f7f6f3;
  color: #000000;
}

.site-navigation button:active,
.site-navigation a:active {
  color: #000000;
  background: linear-gradient(0deg, #ededed, #ededed), rgba(248, 247, 244, 0.99);
  box-shadow: inset 0px 2px 1px #696969;
}

.site-navigation a {
  padding: 8px 14px 9px 14px;
  margin: 0;
  border-radius: 50vh;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 246px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}

.user-navigation button,
.user-navigation a {
  height: 30px;
}

.site-navigation a,
.user-navigation a,
.hits a,
.main-footer a {
  color: inherit;
}

.user-navigation .search__button {
  display: flex;
  padding: 9px 9px 9px 9px;
  margin: 0;
  align-items: center;
  box-shadow: none;
  background: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation .login-link {
  display: flex;
  margin: 0;
  border-radius: 50vh;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  align-items: center;
  box-shadow: none;
  background: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

/* #заменить теги на классы */
.login-link svg {
  padding: 8px 8px 8px 15px;
}

.login-link div {
  padding: 10px 17px 9px 0;
}

.user-navigation .basket__button {
  display: flex;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  box-shadow: none;
  background: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.basket__button svg {
  padding: 6px 7px 6px 16px;
  margin: 0;
}

.basket__button div {
  padding: 10px 16px 9px 0;
  margin: 0;
}

.user-navigation button:hover path,
.user-navigation button:focus path,
.user-navigation a:hover path,
.user-navigation a:focus path,
.user-navigation button:hover g,
.user-navigation button:focus g {
  fill: #000000;
}

.user-navigation button:hover,
.user-navigation button:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background: #f7f6f3;
  color: #000000;
}

.user-navigation button:active,
.user-navigation a:active {
  color: #000000;
  background: linear-gradient(0deg, #ededed, #ededed), rgba(248, 247, 244, 0.99);
  box-shadow: inset 0px 2px 1px #696969;
}

.working-time {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 14px;
  line-height: 16px;
}

.working-time li:nth-child(2) {
  padding-top: 3px;
  font-size: 22px;
  line-height: 24px;
}

/* Спецпредложения */
.special-offer {
  display: flex;
  flex-direction: column;

  font-size: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0;
  padding: 0;
  align-items: center;
}

.special-offer .offer-text {
  padding: 0;
  margin-top: 60px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.offer-text p {
  margin: 0;
  padding: 0;
}

.special-offer button {
  margin: 31px 0 0 0;
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

/* Баннеры */
.banners {
  padding: 0;
  margin: 0 14px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner {
  width: 560px;
  margin: 41px 13px 0 13px;
  padding: 16px 21px 24px 19px;

  display: flex;
  flex-direction: column;

  font-size: 18px;
  line-height: 22px;
  text-align: left;
  border-radius: 16px;
}

.banner h3 {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  align-items: center;
  color: #ffffff;
}

.banner .banner-text {
  margin: 15px 0 0 0;
  padding: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  color: #ffffff;
}

#first-banner.banner {
  background: url(IMG/Raspberry_background.png) no-repeat;
  background-size: 100% 100%;
}

#second-banner.banner {
  background: url(IMG/Chocolate_background.png) no-repeat;
  background-size: 100% 100%;
}

.banner .banner__button {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 44px 0 0 0;
}

.banner button {
  margin: 0;
  padding: 10px 23px 11px 21px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;

  background: linear-gradient(0deg, #ca3824 -2.17%, #f26843 104.35%);
  opacity: 0.99;
  box-shadow: 0px 2px 2px rgba(85, 8, 0, 0.54);
}

.banner button:focus,
.banner button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0px 1px 2px #ac1000;
}

.banner button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(0deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

/* Хиты */
.hits-container {
  margin: 40px 13px 0;
  padding: 0;
  display: flex;
}

.hits {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  text-align: center;
}

.hits li {
  margin: 0;
  padding: 0;
}

.hits a {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
}

.hits li {
  margin: 0;
  padding: 0;
}

.hit-icon {
  margin: 0;
  padding: 0;
  position: absolute;
}

.hit-photo {
  padding: 0;
  margin: 0;
}

.hit-item {
  margin: 0 13px 0 13px;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.hit-item .price {
  position: relative;
  bottom: 44px;
  margin: 0;
  padding: 0;

  display: flex;
  text-align: left;

  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 13px;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.price .rub {
  margin-left: 4px;
  padding: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 13px;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.price .unit-monetary {
  margin-top: 5px;
  padding: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 13px;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.hit-item .ice-cream-name {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 6px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

/* SEO */
.SEO {
  /* display: flex;
  flex-direction: column; */

  padding: 26px 20px 24px;
  margin: 31px 27px 0;

  background-color: var(--color-backround-default);
  background: url(IMG/Waffle_background.png) no-repeat;
  background-size: 100% 100%;
}

.SEO h3 {
  padding: 0;
  margin: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  color: #323232;
}

.SEO .SEO-container {
  padding: 0;
  margin: 0;
}

.SEO-list {
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 2px;
}

.SEO-list li {
  display: flex;

  margin: 0;
  padding: 0;
}

.SEO-list .SEO-icon {
  margin-right: 8px;
}

#first-row.SEO-icon {
  position: relative;
  bottom: 11px;
}

#second-row.SEO-icon {
  position: relative;
  bottom: 22px;
}

.SEO-list p {
  padding-top: 20px;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  color: #323232;
}

/* Контейнер новости+рассылка */
.news-mailing-container {
  margin: 40px 27px 40px;
  padding: 0;

  display: flex;
}

/* Новости */
.news {
  margin: 0;
  padding: 23px 260px 40px 19px;

  text-align: left;

  background-color: var(--color-backround-default);
  background: url(IMG/Strawberry_background.png) no-repeat;
  background-size: 100% 100%;
}

.news h4 {
  margin: 0 0 4px;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  color: #323232;
}

.news a {
  margin: 0;
  margin-right: 135px;
  padding: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  color: #323232;

  text-decoration: underline 2px solid;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

/* Рассылка */
.mailing {
  margin: 0;
  margin-left: 26px;
  padding: 34px 26px 40px;

  display: flex;
  flex-direction: column;

  background-color: var(--color-backround-default);
  background: url(IMG/Mailing.png) no-repeat;
  background-size: 100% 100%;
}

.mailing p {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  color: #5a5a5a;
}

.email-form-container {
  margin: 0;
  margin-top: 33px;
  display: flex;
}

.mailing input {
  width: 335px;
  padding: 9px 18px 9px 13px;
  margin: 3px 13px 0 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  background: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.mailing button {
  margin: 0 0 1px;
  padding: 1px 17px;

  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

/* Карта */
.map-container {
  position: relative;

  margin: 0;
  padding: 0;

  background-color: var(--color-backround-default);
}

.map {
  position: relative;
  z-index: 1;

  margin: 0;
  padding: 0;
}

.yandex-map {
  display: flex;
}

.address {
  position: absolute;
  z-index: 2;
  right: 27px;
  top: 62px;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 29px 26px 31px;

  font-style: normal;
  color: #323232;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 10px;
}

.address h5 {
  margin: 0;
  width: 155px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
}

.address .contacts-container {
}

.contacts-container :nth-child(1) {
  margin: 1px 0 0;
  width: 250px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
}

.contacts-container :nth-child(2) {
  margin: 18px 0 0;
  width: 201px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
}

.contacts-container :nth-child(3) {
  margin: 5px 0 0;
  width: 182px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
}

.contacts-container :nth-child(4) {
  margin: 2px 0 0;
  width: 182px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
}

.map-container button {
  margin: 23px 0 0;
  padding: 9px 24px 11px;

  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

/* Подвал */
.main-footer {
  margin: 18px 27px 25px 26px;
  padding: 0;

  display: flex;
}

/* Соцсети */
.social-media {
}

.social-media li {
  display: inline-flex;
  gap: 30px;
}

.social-media-link {
}
/* .social-media button { */
/* all: unset; */
/* background: rgba(255, 255, 255, 0.5); */
/* border-radius: 50%; */
/* border: 1px solid #ffffff; 
}*/

.footer-menu-list {
  padding: 0;
  margin: 0 323px 0 100px;

  text-decoration: underline solid 1px;
  text-decoration-color: rgba(255, 255, 255, 0.2);

  display: grid;
  /* align-items: baseline; */
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 8px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  align-items: start;
  color: #ffffff;
}

.footer-menu-list .heart-icon {
  padding: 0;
  margin-right: 7px;
}

.footer-menu-list li:nth-child(1) {
  list-style-image: url(IMG/heart.svg);
  font-weight: 700;
}

.footer-menu-list li:nth-child(2) {
  /* padding-left: 22px; */
}

.created-by {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
}

.created-by p {
  margin: 0;
}

/* Всплывающее окно входа */
.modal {
  color: #000000;
  position: fixed;

  background: #f8f7f4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  background-position: 0 0;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.modal-login {
  top: 59px;
  left: 50%;

  margin-left: -139px;

  display: none;
}

.modal-login a {
  color: inherit;
}

.login-form {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  margin: 20px 18px;
}

/* Добавить скругления! */
.login,
.password {
  /* padding: 9px 15px; */
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d3d3d2;
  width: auto;
}

/* Отступ курсора не совпадает с отступом placeholder! */
.login input[type="email"],
.password input[type="password"],
.login input::placeholder,
.password input::placeholder {
  box-sizing: border-box;
  width: 100%;
  padding: 9px 15px;
  height: 47px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.button-sign-in {
  padding: 11px 24px 13px 25px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #fefefe;

  background: linear-gradient(0deg, #e74a35 0%, #f26843 100%), #e84d37;
  box-shadow: 0px 1px 2px #ac1000;
}

.restore,
.registration {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: #323232;
  text-decoration: underline;
}

.sign-in-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restore {
}

.registration {
}
