:root {
  --color-background1: #849d8f;
  --color-background2: #8996a6;
  --color-background3: #9d8b84;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto"), url("/fonts/web/roboto.woff2") format("woff2"),
    url("/fonts/web/roboto.woff") format("woff");
}

body {
  /* Временные размеры по образцу макета */
  width: 1200px;
  height: 2416px;

  /* display: flex;
  flex-direction: column; */
  /* padding: 9px 13px 28px 27px; */
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  background-color: var(--color-background1);
  background-image: url(IMG/IceCreams_1.png);
  background-repeat: no-repeat;
}

.container {
  width: auto;
  margin: 0;
  padding: 0;
}

input {
  background: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  line-height: 24px;
  font-size: 16px;
}
input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}
input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}
input:active {
  border: 1px solid rgba(178, 178, 178, 0.52);
}

button {
  padding: 8px 28px 15px 28px;
  margin: 0;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: none;
  background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 50vh;
}

button:hover,
button:focus {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(0deg, #e74a35 -3.14%, #f26843 103.11%);
  box-shadow: 0px 2px 2px #ac1000;
}
button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(0deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* Шапка */
.main-header {
  margin: 0;
  padding-bottom: 270px;
  color: #ffffff;
}

.main-header-logo {
  padding-top: 9px;
  padding-left: 27px;
  padding-right: 9px;
  margin: 0;
}

.main-navigation {
  display: flex;
  /* justify-content: space-between; */
  margin: 0;
  padding: 0;

  background-color: #00000023;
  align-items: center;
}

.main-navigation .container {
  display: flex;
  padding-top: 2px;
  /* justify-content: space-between; */
  margin: 0;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  align-items: center;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation button {
  padding: 8px 14px 9px 14px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  font-style: normal;
  align-items: center;
  background: none;
  box-shadow: none;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation button:hover,
.site-navigation button:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  background: #f7f6f3;
  color: #000000;
}

.site-navigation button:active,
.site-navigation a:active {
  color: #000000;
  background: linear-gradient(0deg, #ededed, #ededed), rgba(248, 247, 244, 0.99);
  box-shadow: inset 0px 2px 1px #696969;
}

.site-navigation a {
  padding: 8px 14px 9px 14px;
  margin: 0;
  border-radius: 50vh;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
}

.user-navigation {
  display: flex;

  /* justify-content: space-between; */
  margin: 0;
  align-items: center;
}

.user-navigation button,
.user-navigation a {
  height: 35px;
}

.site-navigation a,
.user-navigation a,
.hits a,
.main-footer a {
  color: inherit;
}

.user-navigation .search__button {
  padding: 7px 8px 8px 8px;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  box-shadow: none;
  background: #ffffff;
  mix-blend-mode: normal;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation .login-link {
  display: flex;
  margin: 0;
  border-radius: 50vh;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  box-shadow: none;
  background: #ffffff;
  mix-blend-mode: normal;
  background-color: rgba(255, 255, 255, 0.2);
}

.login-link svg {
  padding: 8px 9px 8px 17px;
}

.login-link div {
  padding: 9px 18px 10px 0px;
}

.user-navigation .basket__button {
  padding: 6px 17px 6px 16px;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  box-shadow: none;
  background: #ffffff;
  mix-blend-mode: normal;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation button:hover path,
.user-navigation button:focus path,
.user-navigation a:hover path,
.user-navigation a:focus path,
.user-navigation button:hover g,
.user-navigation button:focus g {
  fill: #000000;
}

.user-navigation button:hover,
.user-navigation button:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background: #f7f6f3;
  color: #000000;
}

.user-navigation button:active,
.user-navigation a:active {
  color: #000000;
  background: linear-gradient(0deg, #ededed, #ededed), rgba(248, 247, 244, 0.99);
  box-shadow: inset 0px 2px 1px #696969;
}

.working-time {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 14px;
  line-height: 16px;
}

.working-time li:nth-child(2) {
  font-size: 22px;
  line-height: 24px;
}

/* Тело страницы */
/* .main-container {
} */

.special-offer {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.special-offer button {
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.banner {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.banner button {
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  background: linear-gradient(0deg, #ca3824 -2.17%, #f26843 104.35%);
  mix-blend-mode: normal;
  opacity: 0.99;
  box-shadow: 0px 2px 2px rgba(85, 8, 0, 0.54);
}

.banner button:focus,
.banner button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0px 1px 2px #ac1000;
}

.banner button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(0deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.banner h3 {
  font-size: 35px;
  line-height: 41px;
}

.hits {
  text-align: center;
}

.hits a {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
}

.hit-icon {
  text-align: left;
}

.price {
  text-align: left;
  font-size: 45px;
  line-height: 13px;
}

.SEO {
  text-align: left;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.SEO ul {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.news {
  text-align: left;
}

.news a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: #000000;
}

.news h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.mailing {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.mailing input {
  /* font-family: inherit; */
  text-align: left;
  line-height: 24px;
}

.mailing button {
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

.map {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  background-image: url("IMG/Map.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: #000000;
}

.address {
  /* background: rgba(255, 255, 255, 0.98); */
}

.map :nth-child(2) {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.map :nth-child(4) {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.map :nth-child(5) {
  line-height: 20px;
}

.map button {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

/* Подвал */
.main-footer {
  margin-top: 65px; /*   из примера    */
  padding: 60px 0; /*   из примера    */

  text-align: left;
}

.social-media {
}

.menu-footer-first-column {
}

.menu-footer-second-column {
}

.menu-footer-first-column,
.menu-footer-second-column {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.menu-footer-first-column li:nth-child(1) {
  font-weight: 700;
}

.created-by {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
}

.modal {
  visibility: hidden;
}

.modal-login a {
  color: inherit;
}
